:global {
  @import 'treactr-toggle/style.css';
}

.FX_box {
  margin: 2px;
  background-color: #353939;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  border: solid 2px #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #8f9091;
  width: auto;
  height: auto;
  overflow: hidden;
}

p.knob_label {
  margin: auto;
  font-size: 50%;
  text-align: center;
}

.knob {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
