p {
  color: #bdbdbd;
  margin: 2px 1px;
  font-size: 0.5em;
  text-align: center;
}

.slider {
  width: 150px;
  margin: 15px auto;
}

.CrossFader_container {
  background: #242828;
  border: solid 1px #000;
  width: 1000px;
  overflow: hidden;
}

.CrossFader_Box {
  /* Background Gradient */
  background: -webkit-linear-gradient(#373b3c, #313334);
  background: -moz-linear-gradient(#373b3c, #313334);
  background-color: #373b3c;
  background-image: linear-gradient(#373b3c, #313334);

  /* Border */
  border-bottom: solid 1px #2a2d2e;
  border-top: solid 1px #434748;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #8f9091;
  width: 1000px;
  height: 44px;
  overflow: hidden;
}
